body{
background-image: url(https://images4.alphacoders.com/587/thumb-1920-587777.png);
background-size: cover;
}
div{
	color: white;
	text-align: center;
}
.her{
	font-size:30px
}
#vernagir{
	font-size: 45px;
	text-align: center;
}